<!DOCTYPE html>
<html lang="en">
{% load bootstrap4 %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <title>Dakota Store</title>
</head>

<body>
    <div class="container">
        {% include 'header.html' %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'productos:index'%}"
                    style="color: black;"><span>Inicio</span></a></li>
            <li class="breadcrumb-item"><a href="#" style="color: black;"><span>Cuenta</span></a></li>
            <li class="breadcrumb-item"><strong><span>Iniciar Sesion</span></strong></li>
        </ol>
        <h1 class="bettertext">Iniciar Sesion</h1>
        <form method="post">
            <div class="bettertext">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
            </div>
        </form>
    </div>
    {% include 'footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>