{% extends 'header.html' %}

{% block body_block %}
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'productos:index'%}" style="color: black;"><span>Inicio</span></a>
        </li>
        <li class="breadcrumb-item"><a href="#" style="color: black;"><span>Productos</span></a></li>
        <li class="breadcrumb-item"><strong><span>{{producto.nombre}}</span></strong></li>
    </ol>
    <div class="container" style="margin-bottom: 75px;">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12"><img class="img-thumbnail img-fluid center-block"
                            src="{{ producto.imagen.url }}" style="height: auto; width: auto;"></div>
                </div>
                <div class="row">
                    {% if producto.imagen2 %}
                    <div class="col-6 col-sm-6 col-md-6"><img class="img-thumbnail img-fluid center-block"
                            src="{{ producto.imagen2.url }}"></div>
                    {% endif %}
                    {% if producto.imagen3 %}
                    <div class="col-6 col-sm-6 col-md-6"><img class="img-thumbnail img-fluid center-block"
                            src="{{ producto.imagen3.url }}"></div>
                    {% endif %}
                </div>
                <div class="row">
                    {% if producto.imagen4 %}
                    <div class="col-6 col-sm-6 col-md-6"><img class="img-thumbnail img-fluid center-block"
                            src="{{ producto.imagen4.url }}"></div>
                    {% endif %}
                    {% if producto.imagen5 %}
                    <div class="col-6 col-sm-6 col-md-6"><img class="img-thumbnail img-fluid center-block"
                            src="{{ producto.imagen5.url }}"></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5">
                <h1>{{producto.nombre}}</h1>
                <p>{{producto.descripcion}}</p>
                {% if producto.caracteristica1 %}
                <p><i class="fa fa-check"></i>Carac 1</p>
                {% endif %}
                {% if producto.caracteristica2 %}
                <p><i class="fa fa-check"></i>Carac 2</p>
                {% endif %}
                {% if producto.caracteristica3 %}
                <p><i class="fa fa-check"></i>Carac 3</p>
                {% endif %}
                {% if producto.caracteristica4 %}
                <p><i class="fa fa-check"></i>Carac 4</p>
                {% endif %}
                <h4 class="text-success" style="height:58px;color:rgb(0,0,0);font-size:30px;"><i class="fa fa-usd"
                        style="height:38px;"></i>{{producto.precio}}</h4><button
                    class="btn btn-dark btn-lg center-block" type="button"><i class="fa fa-cart-plus"></i>Agregar al
                    carrito</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <h2 class="text-center">PRODUCTOS RELACIONADOS</h2><br>
        <div class="row">
            {% for r in related %}
            <div class="col-md-3" style="padding-bottom: 20px;">
                <div class="card"><a href="{% url 'productos:producto_detail' slug=r.slug %}"><img
                            class="card-img-top w-100 d-block" src="{{ r.imagen.url }}"
                            style="width: auto; height: 150px;" /></a>
                    <div class="card-body"><a href="{% url 'productos:producto_detail' slug=r.slug %}"
                            style="color: #465765; font-weight: 500; font-size: 0.90rem;"><span>{{r.nombre}}</span></a>
                        <h5>{{r.precio}}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
{% include 'footer.html' %}
{% endblock %}